@import url('http://fonts.cdnfonts.com/css/vivaldi');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-text-color: rgb(25, 25, 25);
    --header-footer-text-color: rgb(100, 100, 100);
}

.dejavu {
    font-family: 'Vivaldi', sans-serif;
    font-size: 2rem;
    color: gold !important;
}

.bgdvnav {
    background-color: rgba(10, 10, 125, 1);
}

.beautyface {
    background-image: url('../img/beauty-face.jpg');
    height: 1080px;
}

.card.noborder {
    border: none !important;
}

.footer {
    height: auto;
    color: var(--header-footer-text-color);
}

.section,
.article {
    min-height: 100vh;
}

a.social {
    color: var(--header-footer-text-color);
    display: block;
    outline: none;
    text-decoration: none;
}