* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-text-color: rgb(25, 25, 25);
    --header-footer-text-color: rgb(100, 100, 100);
}

.header {
    height: 1.5em;
    background-color: rgb(37, 37, 37);
    color: var(--header-footer-text-color);
}

.footer {
    height: auto;
    background-color: rgb(37, 37, 37);
    color: var(--header-footer-text-color);
}

.section {
    height: 150vh;
}

.fisrt {
    background-color: aquamarine;
    color: var(--main-text-color);
}

.second {
    background-color: cadetblue;
    color: var(--main-text-color);
}

.third {
    background-color: cornflowerblue;
    color: var(--main-text-color);
}

li.social {
    list-style: none;
}

.social a {
    color: var(--header-footer-text-color);
    outline: none;
    text-decoration: none;
}